<!doctype html>
<html>
    <head>
            <meta charset="utf-8" />
            <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}" type="text/css" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    </head>
    <body>
        {% if error %}
        <div id="notificationBox" class="box">
            <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
        {% endif %}
        <div id="container">
            <div class="pagewidth mainBox">
            <a href="{{ path('index') }}">
                <img src="{{ asset('assets/img/logo.png') }}" width="50%" style="margin: auto; display: block" />
            </a>
            </div>
                    <div id="login" class="pagewidth mainBox">
                            <form 
                                autocomplete="on" 
                                id="loginForm"
                                method="post" 
                                action="{{ path('index') }}">
                                <input 
                                    type="text" 
                                    name="_username" 
                                    placeholder="Nazwa użytkownika" 
                                    class="input"
                                    value="{{ last_username }}" />
                                <input 
                                    type="password" 
                                    name="_password" 
                                    placeholder="Hasło" 
                                    class="input" />
                                <button class="button" type="submit" id="loginSubmit">Zaloguj się</button><!--
                            --><button class="button buttonAlt" id="register">Rejestracja</button>
                            </form>
                    </div>

                    <div id="registerForm" class="pagewidth mainBox">
                        {{ form_start(register, {'action': path('register'),'method': 'POST'}) }}
                        {{ form_widget(register.username, { 'attr':  {'placeholder' : 'Login'|trans, 'class' : 'input' }} ) }}
                        {{ form_widget(register.plainPassword.first, {'attr':{'placeholder' : 'Password'|trans, 'class': 'input' }}) }}
                        {{ form_widget(register.plainPassword.second, {'attr':{'placeholder' : 'Repeat Password'|trans, 'class': 'input' }}) }}                        
                        <input type="submit" value="Zarejestruj" class="button buttonW100"/>
                        {{ form_end(register) }}
                    </div>
            <footer>
                <div>
                    <strong>Grzegorz </strong>Mrózek
                </div>
                <div>
                    <strong>Marcin </strong>Wróblewski
                </div>
            </footer>
            <script>
            var registerOpen = false;
            function registerToggle() {
                if(!registerOpen) {
                    $('#container').animate({'margin-top': '135px'}, 250);
                    $('#registerForm').fadeIn("normal", function(){
                    });
                    registerOpen = true;
                }
                else {
                    $('#registerForm').fadeOut(250, function(){
                        $('#container').animate({'margin-top': '230px'}, 250);
                    });
                    registerOpen = false;
                }
            };

            $(document).on('click touchdown', '#register', function(e) {
                e.preventDefault();
                registerToggle();
            })

            function showNotificationBox(notification) {
                $('#notificationBox').text(notification);
                $('#notificationBox').fadeIn("fast");
            }

            function hideFullBox(item){
                $(document).mouseup(function (e){ //close (click outside)
                    var container = $(item);
                    if (!container.is(e.target)	&& container.has(e.target).length === 0)
                    {
                        container.fadeOut();
                    }
                });
            }
            </script>
            </div>
    </body>
</html>